    * {
        font-family: "Courier New", Courier, monospace;
    }

    h1 {
        text-align: center;
    }

    body {
        background: #3276D2; 
        margin: 0;
        padding-left: 50px;
    }

    .words {
        display: inline-block;
        position: relative;
        right: 20%;
        font-size: 20px;
        line-height: 60px;
        color: #222;
        text-align: center;
        letter-spacing: 4px;
    }

    .result{
        top: 300px;
        position: absolute;
        right: 40%;

    }
    .board {
        width: 250px;
        position: absolute;
        top : 50px;
        right : 40%;
    }
    

    p {
        width: 50px;
    }

    input {
        position: absolute;
        right: 43%;
        top: 350px;
    }

    label {

        position: absolute;
        right: 45%;
        top:320px;
    }

    .submit{
        position: absolute;
        right: 44%;
        top: 410px;
    }

    .selected{
        border: 2px black solid;
        text-align: center;
        width: 50px;
        height: 50px;
        font-weight: bold;
        margin: 2px;
        border-radius: 10px;
    }

    .non-selected{
        background: #fff;
        background-repeat: no-repeat;
        border: 2px black solid;
        text-align: center;
        width: 50px;
        height: 50px;
        font-weight: bold;
        margin: 2px;
        border-radius: 10px;
    }

    .table{
        position: absolute;
        right:37%;
        top: 20%;
        width: 275px;
   }

   .dw:hover{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: yellow;
   }

   .dw{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: white;
   }

   .tw{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: white;
   }
   
    .tw:hover{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: rgb(100, 100, 255);
   }


    .dl:hover{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: green;
   }

    .dl{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: white;
   }

    .tl:hover{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 1px solid;
        left: -5px;
        border-radius: 10px;
        background-color: red;
    }

   .tl{
        font-size: 8px;
        width: 10px;
        display: inline-block;
        text-align: center;
        position: relative;
        float: right;
        padding: 1px;
        top: -18px;
        border: black 0.2px solid;
        left: -5px;
        border-radius: 10px;
        background-color: white;
   }

    .table td{
        background-color: white;
        border: 2px black solid;
        text-align: center;
        width: 50px;
        height: 55px;
        font-weight: bold;
        margin: 2px;
        border-radius: 10px;
    }

    .titre {
        font-size: 20px;
    }